@charset "UTF-8";
@import "base.scss";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
  /*  去除点击高亮状态    */
  -webkit-text-size-adjust: 100%;
  /*  ios横竖屏切换的时候自动的调整字体大小     */
}
/*修改浏览器的滚动条样式*/
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

input,select{
  border: 0;
  overflow: auto;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  font-family: "pingfang-sc-regular","Helvetica Neue", "Helvetica", "STHeiTi", "sans-serif";
}
textarea{
    font-family: "pingfang-sc-regular","Helvetica Neue", "Helvetica", "STHeiTi", "sans-serif";
}
input[type=text]{
  border: 1px solid #EEEEEE;
}
/*   解决iOS中禁用的input变灰色        */
input[disabled] {
  color: #fff;
  opacity: 1;
}

:focus {
  outline: 0;
}

img {
  border: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #fcfcfd;
  font-size: 0.16rem;
  color: #333333;
  font-family: "pingfang-sc-regular","Helvetica Neue", "Helvetica", "STHeiTi", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#body_main{
  padding-top: 0.44rem;
  padding-bottom: 55px;
}
//占位头部导航条
.marginHeader{
  margin-top: 43px;
  overflow: auto;
}
.margin10{
    margin-bottom: 0.10rem !important;
}
//字体颜色样式
.yellow{
  color: $yellow !important;
}
.red{
  color: #EC0000 !important;
}
.themeRed{
  color: $themeColor;
}
.huiFont{
  color: $color63;
}
.huiFont9{
  color: $color92;
}
.huiFont99{
  color: $color99;
}
.whiteFont{
  color: #FFFFFF;
}
//字体大小
.font12{
    font-size: 0.12rem;
}
.font13{
    font-size: 0.13rem;
}
.font14{
    font-size: 0.14rem;
}
.font15{
    font-size: 0.15rem;
}
.font16{
    font-size: 0.16rem;
}
.font17{
    font-size: 0.17rem;
}
.font18{
    font-size: 0.18rem;
}
.font19{
    font-size: 0.19rem;
}
.font20{
    font-size: 0.20rem;
}
//背景颜色
.bg-white{
	background: #FFFFFF;
}
.page-bg-white{
  min-height: 100vh;
  background: #FFFFFF;
  box-sizing: border-box;
}
.page-bg-hui{
  min-height: 100vh;
  background: #fcfcfd;
  box-sizing: border-box;
}
//浮动
.float_left{
  float: left;
}
.float_right{
  float: right;
}

//清除浮动
.clear::after{
  content: "";
  display: block;
  clear: both;
  zoom: 1;
}

//固定元素
.fix_top{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}
.fix_bottom{
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
}

//水平排列方式
.text-center{
  text-align:  center
}
.text-left{
  text-align:  left
}
.text-right{
  text-align:  right
}

//超出分布滚动条
.overflow-y{
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

//设置header高度的padding
.padding-header{
  padding-top: 43px;
}
.padding-footer{
  padding-bottom: 55px;
}
.marginTop5{
  margin-top: 5px;
}
.marginTop10{
  margin-top: 10px;
}
.borderBottom{
  border-bottom: 1px solid $boderE;
}
.borderTop{
  border-top: 1px solid $boderE;
}
//首页二级标题
.two_tit{
  color: $color20;
  font-size: 0.18rem;
  text-indent: 0.12rem;
  line-height: 0.33rem;
  font-weight: 500;
  background: #ffffff;
}

//首页没有数据
.nodata{
  line-height: 50px;
  font-size: 0.12rem;
  color: #606060;
  width: 100%;
}

//空心的button 样式
.mint-button--danger{
  background: $themeColor;
}
.theme-button.mint-button--default{
  border: 1px solid $themeColor;
  color: $themeColor;
  background: #f6f8fa;
}
.theme-button.mint-button--default.radio{
  border-radius: 20px;
}
//实心的button 
.mint-button--primary{
  background: #0ac5ca;
  color: #fff;
}
.button-radio{
    border-radius: 20px;
}
//页面底部的按钮区域
.fix_bottom_area{
    padding: 0.05rem 0.25rem;
    background: #FFFFFF;
}
//确认按钮
.add_btn{
  background: #0ac5ca;
  color: #fff;
  border-radius: 0.22rem;
  width: 90%;
  height: 0.44rem;
  line-height: 0.44rem;
  margin: 0.5rem auto;
}
.add_btnkd{
  color: #fff;
  border: 1px solid #0ac5ca;
  border-radius: 0.22rem;
  color: #0ac5ca;
  background:#fff;
  box-sizing: border-box;
  width: 86%;
  height: 0.44rem;
  line-height: 0.44rem;
  margin: 0 auto;
}
//底部按钮
.buttons{
  width: 100%;
  height: 0.5rem;
  background: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  border-top: 1px solid #e0e0e0;
}
.add_btns{
  background: #0ac5ca;
  color: #fff;
  border-radius: 0.2rem;
  width: 90%;
  height: 0.4rem;
  line-height: 0.4rem;
  margin: 0.05rem auto;
}
//分享按钮
.share_btn{
  background:linear-gradient(360deg,rgba(255,88,0,1) 0%,rgba(255,195,0,1) 98%);
  box-shadow:0px 4px 6px 0px rgba(151,0,0,0.5);
  border-radius:22px
}


//分类的遮罩内容样式
//遮罩
#mark{
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  display: none;
  z-index: 100;
}

.content.classificationContent{
  padding: 0.1rem;
  padding-top: 0.07rem;
  background: #ffffff;
  ul{margin: 0 -0.05rem}
  //btn-group
  .btn-group{
    display: flex;
    justify-content: flex-start;
    margin: 0.30rem 0 0.10rem;
  }
  .reset{
    color: $color20;
    border: none;
    background: $bgF8;
    box-shadow:none;
    margin-right: 0.10rem;
    width: 34%;
    font-size: 0.16rem;
  }
  .car-btn{
    font-size: 0.16rem;
    flex: 1;
    border: 1px solid $themeColor;
    color: $themeColor;
    span{color: $color60;font-size: 0.12rem}
  }
  .buy_btn{
    font-size: 0.16rem;
  }
}

/*  淡入淡出的动画样式 */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.shopdpic img{
  width: 100%;
}

.tangram-suggestion div{
    height: 0 !important;
    overflow: hidden;
}
